# Ignorar tudo por padrão
*

# Manter apenas o arquivo principal e o index
!.gitignore
!index.html
!Sales Intelligence Atual.html
!vercel.json

# PWA
!manifest.json
!sw.js
!icon-192.png
!icon-512.png
!favicon.png
!favicon-16.png

# Firebase
!firestore.rules
!firebase.json
!.firebaserc

.vercel

.vercel
